@import model.Order

@(order: Order)

@main("Drone book store") {

    <p>
        The Book:
    @if(order.book != null) {
        <ul>
            <li>@order.book.title</li>
            <li>@order.book.author</li>
            <li>@order.book.isbn13</li>
        </ul>
    }
    </p>
    <p>
        will be delivered to:
    @if(order.address != null) {
        <ul>
            <li>@order.address.name</li>
            <li>@order.address.street</li>
            <li>@order.address.city</li>
        </ul>
    }
    </p>
    <p>
        at the coordinates:
    @if(order.coordinates != null) {
        <ul>
            <li>@order.coordinates.lat</li>
            <li>@order.coordinates.lng</li>
        </ul>
    }
    </p>
    <p>
    @if(order.orderId != null) {
        Follow the drone delivery:
        <a href="@routes.BookStoreController.showDelivery(order.orderId)" target="_blank">
           @routes.BookStoreController.showDelivery(order.orderId).absoluteURL()
        </a>
    }
    </p>
}