@import model.Order

@(order: Order)

@main("Drone book store") {

    <p>
        The Book:
    @if(order.getBook != null) {
        <ul>
            <li>@order.getBook.title</li>
            <li>@order.getBook.author</li>
            <li>@order.getBook.isbn13</li>
        </ul>
    }
    </p>
    <p>
        will be delivered to:
    @if(order.getAddress != null) {
        <ul>
            <li>@order.getAddress.name</li>
            <li>@order.getAddress.street</li>
            <li>@order.getAddress.city</li>
        </ul>
    }
    </p>
    <p>
        at the coordinates:
    @if(order.getCoordinates != null) {
        <ul>
            <li>@order.getCoordinates.lat</li>
            <li>@order.getCoordinates.lng</li>
        </ul>
    }
    </p>
    <p>
    @if(order.getOrderId != null) {
        Follow the drone delivery:
        <a href="@routes.BookStoreController.showDelivery(order.getOrderId)" target="_blank">
           @routes.BookStoreController.showDelivery(order.getOrderId).absoluteURL()
        </a>
    }
    </p>
}