@import model.Order

@(order: Order)

@main("Drone book store") {

    The Book:
    <ul>
        <li>@order.getBook.title</li>
        <li>@order.getBook.author</li>
        <li>@order.getBook.isbn13</li>
    </ul>

    will be delivered to
    <ul>
        <li>@order.getAddress.name</li>
        <li>@order.getAddress.street</li>
        <li>@order.getAddress.city</li>
    </ul>

    Follow the drone delivery:
    <a href="@routes.BookStoreController.showDelivery(order.getOrderId)" target="_blank">
        @routes.BookStoreController.showDelivery(order.getOrderId).absoluteURL()
    </a>
}